#root{
  color: #f5f4f4;
  position: relative;
}

:root{
  --color-bg: #131416;
  --color-bt-principal: #4B83C1;
  --color-claro-principal: #f5f4f4;
  --color-gris-principal: #b0b0b0;
  --color-gris-secundario: #b0b0b049;
  --numero-principal: #424242;
  --numero-secundario: #EFEFEF;
  --toggle-bg: #283250;
  --toggle-button: #04A6FE;
}

[data-theme="light"] {
  --color-bg: #f5f5f5;
  --color-bt-principal: #357ABD;
  --color-claro-principal: #131416; 
  --color-gris-principal: #8b8b8b;
  --color-gris-secundario:#d4d4d4;
  --numero-principal: #c0c0c0;
  --numero-secundario: #666666;
  --toggle-bg: #F1EB98;
  --toggle-button: #FDD000;
}

/* Inicio */

.inicio{
  background-color: var(--color-bg);
  color: var(--color-claro-principal);
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}

.inicio .cambio_container{
  bottom: 0;
  right: -40%;
}

.inicio h1{
  font-size: 4rem;
  margin: 0;
}

.inicio button{
  cursor: pointer;
}

.inicio_dificultad{
  width: 50%;
  height: 40px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  gap: 6px;
}

.boton_jugar_activado{
  width: 100%;
  border: 2px solid var(--color-claro-principal);
  border-radius: 8px;
  color: var(--color-bg);
  background-color: var(--color-claro-principal);
}

.boton_jugar{
  width: 100%;
  color: #a5a5a5;
  border: 2px solid var(--color-gris-secundario);
  background-color: transparent;
  border-radius: 8px;
  transition: background-color .3s ease, color .3s ease;
}

.boton_jugar:hover{
  color: var(--color-gris-principal);
  background-color: var(--color-gris-secundario);
}

.boton_iniciar_partida{
  width: 50%;
  height: 60px;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 8px;
  color: #f5f4f4;
  background-color: var(--color-bt-principal);
  border: none;
  margin-bottom: 10px;
  transition: background-color .3s ease;
}

.boton_iniciar_partida:hover{
  background-color: #5b9de7;
}

.boton_como_jugar{
  display: flex;
  width: 150px;
  height: 40px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #818181;
  background-color: transparent;
  border: none;
  gap: 4px;
  user-select: none;
  background-image: url(./iconos/pregunta.svg);
  background-repeat: no-repeat;
  background-position: start;
  background-position-y: center;
}


/* Juego */

.juego{
  width: 100%;
  height: 100vh;
  background-color: var(--color-bg);
  color: var(--color-claro-principal);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}

.juego_header{
  display: flex;
  width: 100%;
  max-width: 1200px;
  justify-content: space-around;
  align-items: center;
  
}

.juego_header button{
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--numero-principal);
  color: var(--numero-secundario);
}

.juego_header button:hover{
  color: var(--color-bg);
  background-color: var(--color-claro-principal);
  transition: background-color .2s ease, color .2s ease;

}

.juego_header_titulos{
  text-align: center;

}

.juego_header_titulos h1{
  font-size: 3rem;
  margin: 10px 0 0 0;
}

.cajas_contenedor{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  user-select: none;
}

.caja_fila{
  display: flex;
  flex-direction: row;
  gap: 30px;
  position: relative;
}

.cajas{
  display: flex;
  gap: 10px;
}

.cajas_ganadora{
  display: flex;
  gap: 10px;
}

.cajas_ganadora .caja_item:nth-child(1){
  animation: ola 1s ease forwards;
}
.cajas_ganadora .caja_item:nth-child(2){
  animation: ola 1s ease forwards 0.15s;
}
.cajas_ganadora .caja_item:nth-child(3){
  animation: ola 1s ease forwards 0.3s;

}
.cajas_ganadora .caja_item:nth-child(4){
  animation: ola 1s ease forwards 0.45s;
}

.caja_item{
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #2e2e2e;
  border-radius: 6px;
  font-weight: bold;
  font-size: 1.6rem;
  padding-bottom: 3px;
}


.feedback{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  color: #f5f4f4;
}

.feedback div{
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  padding-bottom: 2px;
}

.botones_numeros{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.botones_numeros button{
  border-radius: 6px;
  border: none;
  cursor: pointer;
  color: var(--numero-secundario);
  background-color: var(--numero-principal);
  user-select: none;
  transition: background-color .2s ease, color .2s ease;
}

.botones_numeros button:hover{
  color: var(--numero-principal);
  background-color: var(--numero-secundario);
}

.botones_numeros_item{
  width: 100%;
  gap: 8px;
  display: flex;
  justify-content: center;
}

.botones_numeros_item button{
  width: 40px;
  height: 50px;
  font-size: 1.6rem;
  
}

.botones_numeros_item button:last-child{
  width: auto;
  padding: 0 18px;
}

.boton_enviar_numero{
  height: 50px;
  width: 30%;
  font-size: 1.6rem;
  justify-content: center;
  margin-top: 8px;
}

/* Alertas de victoria y derrota */

.alerta_victoria_activada{
  display: block;
  background: rgba(19, 20, 22, 0.85);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border: 1px solid rgba(19, 20, 22, 0.3);
  width: 40%;
  height: auto;
  color: #f5f4f4;
  position: absolute;
  top: 8%;
  text-align: center;
  padding: 20px 40px;
  border-radius: 16px;
}

.alerta_victoria_activada h1{
  font-size: 3rem;
  margin: 0;
  color: rgb(19, 148, 19);
}

.alerta_victoria_activada .inicio_dificultad{
  width: 90%;
  justify-self: center;
}

.alerta_victoria_activada .inicio_dificultad button{
  cursor: pointer;
}

.alerta_victoria_activada .boton_jugar_activado{
  background-color: #f5f5f5;
  color: #131416;
  border: 2px solid #f5f5f5;
}

.alerta_victoria_activada .boton_jugar{
  color: #b0b0b0af;
  border: 2px solid #b0b0b049;
}

.alerta_victoria_activada .boton_jugar:hover{
  background-color: #b0b0b049;
  color: #b0b0b0;
}

.alerta_victoria_activada .boton_iniciar_partida{
  width: 80%;
  cursor: pointer;
  color: #f5f4f4;
}

.alerta_victoria_desactivada{
  display: none;
  background: rgba(19, 20, 22, 0.85);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border: 1px solid rgba(19, 20, 22, 0.3);
  width: 40%;
  height: auto;
  position: absolute;
  text-align: center;
  padding: 20px;
  border-radius: 16px;
}

.alerta_derrota_activada{
  display: block;
  background: rgba(22, 19, 19, 0.85);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border: 1px solid rgba(19, 20, 22, 0.3);
  text-align: center;
  position: absolute;
  color: #f5f4f4;
  top: 8%;
  width: 40%;
  height: auto;
  padding: 20px 40px;
}

.alerta_derrota_activada h1{
  font-size: 3rem;
  margin: 0;
  color: rgb(201, 58, 58);
}

.alerta_derrota_activada .inicio_dificultad{
  width: 90%;
  justify-self: center;
}

.alerta_derrota_activada .inicio_dificultad button{
  cursor: pointer;
}

.alerta_derrota_activada .boton_jugar_activado{
  background-color: #f5f5f5;
  color: #131416;
  border: 2px solid #f5f5f5;
}

.alerta_derrota_activada .boton_jugar{
  color: #b0b0b0af;
  border: 2px solid #b0b0b049;
}

.alerta_derrota_activada .boton_jugar:hover{
  background-color: #b0b0b049;
  color: #b0b0b0;
}

.alerta_derrota_activada .boton_iniciar_partida{
  width: 80%;
  cursor: pointer;
  color: #f5f4f4;
}

.alerta_derrota_desactivada{
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: transparent;
  color: transparent;
  top: 10%;
  width: 40%;
  height: auto;
  padding: 20px 40px;
}

/* Dark Mode */

.cambio_container{
  position: relative;
  bottom: 10%;
}

.moon{
  position: absolute;
  bottom: 0;
  left: -37px;
  cursor: pointer;
}

.toggle{
  visibility: hidden;
}

.toggle + label{
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--color-claro-principal);
}

.toggle + label::before{
  content: "";
  height: 1em;
  width: 2em;
  border-radius: 1em;
  background-color: var(--toggle-bg);
  margin-right: 0.5em;
}

.toggle + label::after{
  content: "";
  height: 0.8em;
  width: 0.8em;
  border-radius: 1em;
  background-color: var(--toggle-button);
  position: absolute;
  left: 0.2em;
  transition: background-color 0.25s ease-in-out, transform .25s ease-in-out;
}

.toggle:checked + label::after{
  transform: translateX(100%);
}

/* Animaciones */

@keyframes ola {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px); 
  }
  100% {
      transform: translateY(0);
  }
}